body{
    justify-content: center;
    align-items: center;
    display: flex;
}

.Cal-container{
    margin-top: 5px;
    width: 300px;
    height: 85vh;
    border: 2px solid forestgreen;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
#minus{
    color: blue;
    margin-top: 2px;
}
#resultArea{
    position: relative;
    width: 250px;
    height: 100px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset;

    background-color: #ffffff;
    font-size: 60px;
    color: blue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

input::placeholder {
    font-size: 35px;
    text-align: right; /* Adjust the size as needed */
  }

.resultAreaf{
    width: 250px;
    border-radius: 10px;
    margin-top: 5px;
    background-color: white;
    box-shadow: inset;
    display: flex; 
}
#his{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 50px;
    
    
}
h1{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#c{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#mod{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.operators{
    width: 50px;
    height: 50px;
    border: 1px solid green;
    border-radius: 100%;
    margin: 5px;
    grid-gap:10px
    
    
}
.operators:hover{
    cursor: pointer;
}

button{
    width: 50px;
    height: 50px;
    border: 1px solid green;
    border-radius: 100%;
    margin: 5px;
    grid-gap:10px
    
}


.equaloperators{
    background-color: blue;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 100%;
    margin: 5px;
    grid-gap:10px
    
}
.cal-fitures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}